 
.show {display: block;}

body {font-family: Arial, Helvetica, sans-serif;}

/* Buttons used to open the add or  del student data form  */
.open-button {
  background-color: #555;
  color: white;
  padding: 8px 110px;
  border: 2px solid black;
  border-radius: 10px;
  cursor: pointer;
  opacity: 0.8;
}

.open-button2 {
  background-color: #555;
  color: white;
  padding: 8px 160px;
  border: 2px solid black;
  border-radius: 10px;
  cursor: pointer;
  opacity: 0.8;
  
}

.form-container input[type=file] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* The popup form - hidden by default */
.form-popup {
  width: 30%;
  display: none;
  position: fixed;
  left:34%;
  bottom: 25px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}
.form-popup-A {
  width: 50%;
  display: none;
  position: fixed;
  left:27%;
  bottom: 10px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  background-color: white;
}
.form-container-A {
  
  padding-left: 30px;
  padding-right: 0px;
  padding-top: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container-A input[type=text] {
  width: 85%;
  padding: 10px;
  margin: 0px 0 7px 20px;
  border: none;
  background: #f1f1f1;
}
.form-container-A input[type=date] {
  width: 50%;
  padding: 10px;
  margin: 5px 0 7px 20px;
  border: none;
  background: #f1f1f1;
}

/* Full-width input fields */
.form-container input[type=text] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}


/* When the inputs get focus, do something */
.form-container input[type=text]:focus {
  background-color: #ddd;
  outline: none;
}


/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover, .open-button2:hover {
  opacity: 1;
}
/* Set a style for the submit/login button of add student button */
.form-container-A .btn {
  background-color: #04AA6D;
  color: white;
  padding: 12px 15px;
  border: none;
  cursor: pointer;
  width: 20%;
  margin-bottom:10px;
  margin-left: 20px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container-A .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container-A {
  opacity: 1;
}
@media screen and (max-width:850px){
  .form-popup {
    width: 60%;
    left:20%;
  }
  .form-popup-A {
    width: 60%;
    left:20%;
  }
  .form-container-A input[type=text] {
    padding: 5px;
    margin: 0px 0 7px 5px;
  }
  .form-container-A input[type=date] {
    padding: 5px;
    margin: 5px 0 7px 5px;
  }
}