<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'adminlogin.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <title>changepassword</title>
    <style>
        select{
            width: 60%;
            height: 30px;
            margin-bottom: 5px;
        }
    </style>
</head>
<body>
<div class="wrapper">
    <header>Change The Password of </header>
    <form action="{% url 'changepassword' %}" method="post">
        {% csrf_token %} 
        <select name="select" required>
            <option value="">Choose</option>
            <option value="1">Admin</option>
            <option value="2">Subadmin</option>
            </select>
      <div class="field email">
        <div class="input-area">
            <input type="password" name="pass1" autocomplete="off" required />
            <i class="icon fas fa-lock"></i>
          <i class="error error-icon fas fa-exclamation-circle"></i>
        </div>
      </div>
      <div class="field password">
        <div class="input-area">
            <input type="password" name="pass2" autocomplete="off" required />
          <i class="icon fas fa-lock"></i>
          <i class="error error-icon fas fa-exclamation-circle"></i>
        </div>
      </div>     
      <input type="submit" value="Search">
    </form>
  </div>
  <script>
    const form = document.querySelector("form");
    eField = form.querySelector(".email"),
    eInput = eField.querySelector("input"),
    pField = form.querySelector(".password"),
    pInput = pField.querySelector("input");
    form.onsubmit = (e)=>{
    e.preventDefault(); //preventing from form submitting
    if(eInput.value == pInput.value) {
     window.location.href = form.getAttribute("action");
    }
    else{
        alert("Password Does Not Match");
    }
} 
</script>
</body>
</html>