<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'alternative-dropdown.css' %}">
    <title>Diploma Courses</title>
</head>
<body>
      <div class="container">
        <div class="items">
          <div class="items-head">
            <p>Diploma Courses</p>
            <hr>
          </div>         
          <div class="items-body">
            <div class="items-body-content">
              <span><a href="https://en.wikipedia.org/wiki/Financial_accounting" class = "tt">DFA</a></span>
              <i class="fa fa-angle-right"></i>
            </div>
            <div class="items-body-content">
              <span><a href="https://en.wikipedia.org/wiki/Diploma_in_Computer_Science" class = "tt">DCA</a></span>
              <i class="fa fa-angle-right"></i>
            </div>
                <div class="items-body-content">
                  <span><a href="https://en.wikipedia.org/wiki/Financial_accounting" class = "tt">ADFA</a></span>
                  <i class="fa fa-angle-right"></i>
            </div>
                <div class="items-body-content">
                      <span><a href="https://en.wikipedia.org/wiki/Diploma_in_Computer_Science" class = "tt"> ADCA</a></span>
                      <i class="fa fa-angle-right"></i>
                </div>
                <div class="items-body-content">
                    <span><a href="https://collegedunia.com/courses/post-graduate-diploma-in-computer-applications-pgdca" class = "tt"> PGDCA</a></span>
                        <i class="fa fa-angle-right"></i>
                </div>
                    <div class="items-body-content">
                        <span><a href="https://www.aplustopper.com/o-level-certificate/" class = "tt">'O' LEVEL</a></span>
                         <i class="fa fa-angle-right"></i>
                    </div>
                    <div class="items-body-content">
                        <span><a href="https://en.wikipedia.org/wiki/Computer_network" class = "tt">DCHSN NETWORKING</a></span>
                            <i class="fa fa-angle-right"></i>
                    </div>
          </div>
        </div>
      </div>
</body>
</html>