.top-right{
    float: left;
    padding-left: 35px;
    padding-top: 0px;
  } 
  .logo-down{
    text-align: center;
    font-weight: bolder;
  }
  .logo-photo{
      margin-top:1px;
      display: block;
      height: 150px;
      width: 150px;  
  }
  .name-of-institute{
      color: rgb(0 , 112 , 192);
      font-size: 26px;
      text-align: center;
      padding-top: 40px;
      padding-bottom : 40px;
      text-shadow: 2px 2px rgba(101, 22, 226, 0.363);
  }
  
  #top{
    background: -webkit-linear-gradient(45deg, #ade281, #f05151);
    background: -o-linear-gradient(45deg, #d1bbb5, #b8d1b4);
    background: -moz-linear-gradient(45deg, #e4e1e1, #a8d49b);
    background: linear-gradient(45deg, #caaca5, #e9403a);
    text-align: right;
  }
  
  body{
      background-color: rgb(228, 222, 222);
  }
  
  .h4-logo{ 
      color: rgb(0,32,96);
      position: relative;
      top:10px;
      right :0mm;
    }

  .logout{
    background-color: aqua;
    font-weight: 900;
    padding:2px 10px 0px 10px;
    cursor: pointer;
  }

  .logout :hover{
    text-decoration: underline;
  }
  
  @media screen and (max-width:860px) {
    .name-of-institute{
      font-size: 22px;
    }
    .logo-photo{
      width: 84%;
      height: 120px;
    }
    .top-right{
      padding-left: 25px;
    } 
  }
  @media screen and (max-width:550px){
    .logo-photo{
      margin-top:2px;
      height: 110px;
      width: 110px;  
    }
    .name-of-institute{
      font-size: 18px;
    }
  }
  @media screen and (max-width:400px){
    .logo-photo{
      margin-top:2px;
      height: 80px;
      width: 80px;  
    }
    .name-of-institute{
      font-size: 13px;
    }
  }
