.top-right{
    float: left;
    padding-left: 30px;
    padding-top: 12px;
  } 
  
  .estd{
    color:rgb(5,57,97);
    margin-right: 38px;
    font-size:x-large;
    font-weight: bold;
    font-family: serif;
  }
  
  .reg-no{
    color:rgb(5,57,97);
    padding-top: 150px;
    padding-right: 25px;
    font-family: serif;
    font-size:x-large;
    font-weight:bold;
    float: right;
  }
  
  .logo-photo{
      margin-top:5px;
      display: block;
      height: 180px;
      width: 180px;
  
  }
  
  .name-of-institute{
      color: rgb(0 , 112 , 192);
      font-size: 26px;
      text-align: center;
      padding-top: 40px;
      padding-bottom : 90px;
      text-shadow: 2px 2px rgba(101, 22, 226, 0.363);
  }
  
  #top{
    background: -webkit-linear-gradient(45deg, #ade281, #f05151);
    background: -o-linear-gradient(45deg, #d1bbb5, #b8d1b4);
    background: -moz-linear-gradient(45deg, #e4e1e1, #a8d49b);
    background: linear-gradient(45deg, #caaca5, #e9403a);
    text-align: right;
  }
  
  body{
      background-color: rgb(228, 222, 222);
  }
  
  .h4-logo{
     
      color: rgb(0,32,96);
      position: relative;
      top:10px;
      right :2mm;
  }

  .logout{
    font-weight: 900;
    margin-left: 50%;
    padding:2px 10px 0px 10px;
    cursor: pointer;
  }

  .logout :hover{
    text-decoration: underline;
  }
  
  @media screen and (max-width:860px) {
    .name-of-institute{
      font-size: 13px;
    }
    .logo-photo{
      width: 80%;
      height: 130px;
    }.h4-logo{
      font-size: large;
    }
    .reg-no{
      color:rgb(5,57,97);
      padding-top: 125px;
      padding-right: 25px;
      font-family: serif;
      font-size:large;
      float: right;
    }
  }
  
  @media screen and (max-width:620px){
    .reg-no{
      color:rgb(5,57,97);
      padding-bottom: 0px;
      padding-right: 25px;
      font-family: serif;
      font-size:large;
      float: right;
    }
  }