.dropdown-menus{
    display: block;
    text-align: center;
    padding: 10px 0px 10px 0px;
    font-weight: bolder;
    font-size: 25px;
    color: rgb(233, 211, 233);
    background-color:rgba(35, 77, 218, 0.925);
}
.dropdown{
    display: inline-block;
}
.dropdown-content{
    text-align: left;
    display: none;
    position: absolute;
    background-color: rgb(226, 223, 223);
    border-radius: 4px;
    box-shadow: 0px 8px 20px 0px rgba(0,0,0.2);
    padding : 0px 90px 0px 20px;
    z-index: 1;
}
.dropdown-head:hover{
    text-decoration: underline;
    color: rgb(236, 236, 236);
}
.dropdown:hover .dropdown-content{
    display: block;
}

.contact-us{
    color: rgb(233,211,233);
    text-decoration: none;
}
.service-dropdown{
    font-weight: 100;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
    color: rgb(7, 5, 7);
}
.service-dropdown:hover{
    text-decoration: underline;
    color: rgb(255, 0, 0);
}

/* alernative */

.alternative-icon{
    display: none;
}

.the:hover{
    text-decoration: underline;
    color: rgb(211, 92, 92);
}

.alternative-dropdown{
    display: none;
}

@media screen and (max-width:1110px){ 
    /* disappearing first dropdown*/
    .dropdown-menus{
        display: none;
    }

    /* button for dropdown */
    .button{
        position:relative;
        display:inline-block;
        margin:2px 0px 0px 15px;
      }
      
      .button a{
        cursor: pointer;
        color:white;
        font-family:Helvetica, sans-serif;
        font-weight:bold;
        font-size:36px;
        text-align: center;
        text-decoration:none;
        background-color:#4368e2;
        display:block;
        position:relative;
        padding:2px 7px;
        
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        text-shadow: 0px 1px 0px #000;
        filter: dropshadow(color=#000, offx=0px, offy=1px);
        
        -webkit-box-shadow:inset 0 1px 0 #003391, 0 10px 0 #003391;
        -moz-box-shadow:inset 0 1px 0 #003391, 0 10px 0 #003391;
        box-shadow:inset 0 1px 0 #003391, 0 10px 0 #003391;
        
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
      }
      
      .button a:active{
        top:10px;
        background-color:#3270ce;
        
        -webkit-box-shadow:inset 0 1px 0 #003391, inset 0 -3px 0 #003391;
        -moz-box-shadow:inset 0 1px 0 #003391, inset 0 -3pxpx 0 #003391;
        box-shadow:inset 0 1px 0 #003391, inset 0 -3px 0 #003391;
      }
      
      .button:after{
        content:"";
        height:100%;
        width:100%;
        padding:4px;
        position: absolute;
        bottom:-15px;
        left:-4px;
        z-index:-1;
        background-color:#2B1800;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
      }

     /* dropdown */
    .alternative-icon{
        display: block;
    }
    .alternative-dropdown{
        cursor: pointer;
        font-size: 32px;
        text-align: left;
        display: none;
        position: absolute;
        background-color: rgb(226, 223, 223);
        border-radius: 4px;
        box-shadow: 0px 8px 20px 0px rgba(0,0,0.2);
        padding : 0px 90px 0px 20px;
        z-index: 1;
    }
}
@media screen and (max-width:360px){
    .alternative-dropdown{
      font-size: 21px;
      padding : 0px 65px 0px 20px;
    }
    .button a{
        font-size:23px;
    }
  }
  

